@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Black.ttf") format("truetype");
  src: url("./fonts/NunitoSans-BlackItalic.ttf") format("truetype");
  src: url("./fonts/NunitoSans-Bold.ttf") format("truetype");
  src: url("./fonts/NunitoSans-BoldItalic.ttf") format("truetype");
  src: url("./fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  src: url("./fonts/NunitoSans-ExtraBoldItalic.ttf") format("truetype");
  src: url("./fonts/NunitoSans-ExtraLight.ttf") format("truetype");
  src: url("./fonts/NunitoSans-ExtraLightItalic.ttf") format("truetype");
  src: url("./fonts/NunitoSans-Italic.ttf") format("truetype");
  src: url("./fonts/NunitoSans-Light.ttf") format("truetype");
  src: url("./fonts/NunitoSans-Regular.ttf") format("truetype");
  src: url("./fonts/NunitoSans-SemiBold.ttf") format("truetype");
  src: url("./fonts/NunitoSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Black";
  src: url("./fonts/NunitoSans-Black.ttf") format("truetype");
  font-weight: 900; /* Peso Black */
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url("./fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Peso Black */
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("./fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300; /* Peso Light */
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("./fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal; /* Peso Regular */
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  font-family: "Nunito Sans Regular";
}

@layer components {
  .container-page {
    @apply mx-auto max-w-[1320px] px-4;
  }

  .animation-fade {
    @apply duration-200 transition-all ease-in-out;
  }

  /* Button Classes */
  .btn-big-label {
    @apply p-[32px];
  }

  .btn-big {
    @apply py-[12px] w-[192px];
  }

  .btn-normal {
    @apply py-[8px] px-[16px];
  }

  .button-red-primary {
    @apply text-white font-light rounded-md text-center bg-[#E21E31] inline-block animation-fade hover:bg-[#E21E31]/60;
  }

  .button-red-primary-outline {
    @apply text-[#E21E31] font-light rounded-md text-center border-[#E21E31] border inline-block animation-fade hover:bg-[#E21E31] hover:text-white;
  }

  .button-red-primary-outline2 {
    @apply text-white font-light rounded-md text-center border-white border inline-block animation-fade hover:bg-white hover:text-black;
  }

  .btn-disabled {
    @apply text-white animate-pulse pointer-events-none font-light rounded-md text-center bg-[#b3b3b3] inline-block animation-fade;
  }
}

.family-nunito-black {
  font-family: "Nunito Sans Black";
}

.family-nunito-semibold {
  font-family: "Nunito Sans SemiBold";
}

.family-nunito-regular {
  font-family: "Nunito Sans Regular";
}

/* Carousel de Experiencia de Clientes */
.clientesAsegurados > .slick-slider > .slick-prev:before,
.clientesAsegurados > .slick-slider > .slick-next:before {
  color: #e21e31 !important;
}

.clientesAsegurados .slick-dots li {
  background: transparent !important;
  transition: all 0.4s ease-in-out;
  border-radius: 1rem !important;
  width: 10px !important;
  height: 10px !important;
}

.clientesAsegurados .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
}

.clientesAsegurados .slick-dots .slick-active {
  background: #d7282f !important;
}

.clientesAsegurados .slick-dots li button:before {
  color: transparent !important;
  border: 1px solid #d7282f;
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
}

.clientesAsegurados .slick-dots li.slick-active button:before {
  color: transparent !important;
}

.clientesAsegurados > .slick-slider > .slick-prev {
  left: -1rem;
  top: 3rem;
  z-index: 9999;
}

.clientesAsegurados > .slick-slider > .slick-next {
  right: -1rem;
  top: 3rem;
  z-index: 9999;
}

/* Estilos a las pestañas de la página de Insurance */
.tag-link {
  font-size: 1rem;
  border-bottom: 1px solid black !important;
  text-align: start;
}

@media (max-width: 450px) {
  .tabs > div {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .tabs > div > ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tag-link {
    padding: 0.5rem 1rem;
  }
}
